
site_name: rezup
site_url: https://davidlatwe.github.io/rezup/
repo_url: https://github.com/davidlatwe/rezup/
repo_name: GitHub

theme:
  name: "material"
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
      primary: cyan
      accent: indigo
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: cyan
      accent: indigo

  features:
    - navigation.top
    - navigation.sections

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.highlight
  - pymdownx.superfences

plugins:
  - search
  - mkdocstrings:
      watch:
        - src
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.insert(0, "src")
          selection:
            docstring_style: 'google'
            inherited_members: false
            filters:
              - "!^_"  # exclude all members starting with _
              - "^__init__$"  # but always include __init__ modules and methods

nav:
  - Home:
    - Overview: index.md
  - Usage:
    - Recipe: recipe.md
    - Command: command.md
    - Scripts: scripts.md
    - Environ: environ.md
  - Reference:
    - rezup: rezup.md
    - rezup.util: rezup.util.md
  - License: license.md
